body {
  padding: 0px;
  margin: 0px;
  background-color: #D8DBD5;
}

body:after {
  content: ' ';
  display: 'block';
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
  height: 30%;
  background-color: #009688;
}